* {
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: 10px;
  font-family: 'Courier New',Courier,monospace;
}

body {
  background: #666;
  font: 13px sans-serif;
  margin: 10px;
  color: white;
}

.loan {
  font: 11px sans-serif;    
  margin-left: 0px;
}

#total{
  color: white;
  font-size: 30px;
}

body{
  text-align: center;
}
#grid-content {
  text-align: left;
  overflow: hidden;
  height: 0;
}
#grid-content div {
  width: 200px;
  border: 1px solid #DDDDDD;
  background-color: #EFEFEF;
  color: #888;
  margin: 5px;
  padding: 10px;
}
